.announcements{
    padding: 1rem;
  }
  .announcement{
  display: flex;
  flex-direction: row;
  margin-bottom:2%;
  background-color: lightgray;
  max-width: 50%;
  padding: 1rem;
  }
  .profile_photo{
    max-width: 20%;
    max-height: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
  }
  .annou_body{
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .description{
    font-size: 1.3rem;
  }