.ProductPage{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    max-width: 60%;
}
.ProductPage .Product{
   margin-top: 7.6%;
   width: 100%;
}
.ProductPage .Music-Product{
    width: 60%;
    margin-top: 10%;
}
.ProductPage .title-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    border: solid rgb(27, 27, 27);;
    align-items: center;
    color: white;
}
.ProductPage .actor{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProductPage .title{
    font-size:3rem;
    color: white;
    text-decoration: none;
}
.ProductPage .title:hover{
    text-decoration: none;
}
.ProductPage .score{
    display: flex;
    flex-direction: row;
}
.ProductPage .checked{
    color: orange;
}
.ProductPage .score-rating{
    display: flex;
    flex-direction: column;
}
.ProductPage .score-num{
    font-size: 2rem;
}
.ProductPage .votes-num{
    font-size: 1rem;
}
.ProductPage .description{
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    background-color: lightgray;
}
.ProductPage .music-description{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: lightgray;
}
.ProductPage .poster{
    max-width: 30%;
}
.ProductPage .cast-member{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    font-size: 1.3rem;
    background-color: lightgray;
    
}
.ProductPage .track{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    font-size: 1.5rem;
    width:60%;
    background-color: lightgray;
    
}
.ProductPage .credit-tags{
    font-size: 1.2rem;
    display: block;
}
.ProductPage .actor-img{
    width: 7.5%;
}
.ProductPage .headers{
    font-size: 2rem;
}
.ProductPage .review-title{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.ProductPage .review-des{
    font-size: 1.5rem;
}
.ProductPage .link{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.ProductPage .Discussion{
    width:100%;
}
.ProductPage .dis-img{
    max-width: 70%;
}
.ProductPage .icon{
    margin: 0%;
    font-size: 1.6rem;
}
.ProductPage .discussion-link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: normal;
}

.ProductPage .score-holder{
   display: flex;
   flex-direction: row;
}
.ProductPage .rating{
   font-size: 2rem;
}
.ProductPage .rating-button{
    display: none;
}

.ProductPage .star-rating{
    display: none;
}
.ProductPage .rating:hover .star-rating{
    display: flex;
}

