.ReviewForm{
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
}
.ReviewForm .field-name{
    font-size: 2rem;
}
.ReviewForm .field-input{
    font-size: 2rem;
}
.ReviewForm .star{
    display: flex;
    flex-direction: row;
}
.ReviewForm button{
    font-size: 2rem;
    background-color: black;
    color: white;
}