.Products{
    font-family: Arial, Helvetica, sans-serif;
    
}


.DiscussionBrowsingList .Discussion{
    width:80%;
}
.DiscussionBrowsingList .dis-img{
    max-width: 70%;
}
.DiscussionBrowsingList .icon{
    margin: 0%;
    font-size: 1.6rem;
}
.DiscussionBrowsingList .discussion-link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: normal;
}
.DiscussionBrowsingList .announcement{
    display: flex;
    flex-direction: row;
    margin-bottom:2%;
    background-color: lightgray;
    max-width: 80%;
    padding: 1rem;
    }
    .DiscussionBrowsingList   .profile_photo{
      max-width: 20%;
      max-height: 90%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      position: relative;
    }
    .DiscussionBrowsingList .annou_body{
      margin-left: 1%;
      font-family: Arial, Helvetica, sans-serif;
    }
    .DiscussionBrowsingList .description{
      font-size: 1.3rem;
    }