.LoginForm{
    width: 30%;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.LoginForm .header{
    font-size:3rem;
}
.LoginForm .field-name{
    font-size:2rem;
}
.LoginForm textarea{
    height:5ch;
}
.LoginForm .field-input{
    font-size:1.6rem;
}
.LoginForm .submit-btn{
    font-size:2rem;
    color: white;
    background-color: black;
}
.LoginForm #profile-pic #file-upload-button{
    font-size:1.6rem;
    color: white;
    background-color: black;
}
.LoginForm .error{
    display: none;
    color: red;
    font-size: 1.3rem;
}