.DiscussionPage {
    max-width:90%;
    margin-top: 7.5%;
}
.DiscussionPage .tags{
    font-size: 1.6rem;
}
.DiscussionPage .options{
    font-size: 1.6rem;
    text-align: right;
    background-color: lightblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.DiscussionPage .dis-img{
    max-width: 70%;
}
.DiscussionPage .icon{
    margin: 0%;
    font-size: 2.5rem;
}
.DiscussionPage .discussion-link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: normal;
}
.DiscussionPage  .dis-description{
    font-size: 1.7rem;
    border: lightgray solid;
    
    border-width:thin;
}
.DiscussionPage  .vote-button{
    font-size: 1.7rem;
    background-color: lightblue;
    border: none;
}
.DiscussionPage .comment-field{
    width: 100%;
    height: 20%;
    margin-top: 5%;
    font-size: 1.6rem;
}


.DiscussionPage .userComment .vote-button{
    
    background-color:rgb(243, 243, 239);
    margin-right: 5%;
    
}
.DiscussionPage .userComment .button-holder{
    text-align: right;
   
}
.DiscussionPage  .vote-button:active{
    color: gray;
}